h1{background-color:#0099FF;
    margin: 0px;
    height :800px;
    width :200px; 
    padding-top: 50px;
    text-align: center;
color:white;
float:left;
}
#all{
    padding-left: 250px;
padding-top: 20px;}
